[Unit]
Description=Create tarball backups

[Service] 
EnvironmentFile=/path/to/envir/file
ExecStart=/path/to/backup/scripts_%i.sh

[Install]
WantedBy=multi-user.target
