[Unit]
Description=Create tarball backups

[Service] 
ExecStart=/path/to/backup/scripts_%i.sh /path/to/destination/%i
EnvironmentFile=/path/to/envir/file

[Install]
WantedBy=multi-user.target
